$fontPrimary : "Montserrat",
sans-serif;
$fontSecondary : "Open Sans",
sans-serif;
$bgColor: #7beec7;
$btnTextColorMain: #fff;
$btnTextColorSecond: #7beec7;
$btnBgWhite: #fff;
$btnBgMain: #7beec7;
$linksColor: #fff;
$clrwhite: #fff;
$navColor: #60606e;
$fontSizeXXXL: 48px;
$fontSizeXXL: 36px;
$fontSizeXL: 30px;
$fontSizeL: 24px;
$fontSizeM: 16px;
$fontSizeS: 14px;
$fontBold: 700;
$fontNormal: 400;
$lineHeightXL: 48px;
$lineHeightL: 30px;
$lineHeightM: 24px;
$mainColor: #60606e;
$secondaryColor: #999999;
$margCenter: 0 auto;
$marg0: 0;
$textAlignDefault: left;
$maxW: 1300px;


@mixin flex ($jstfCon, $algnItems) {
    display: flex;
    justify-content: $jstfCon;
    align-items: $algnItems;
}

@mixin before ($width, $top, $left) {
    &::before {
        content: '';
        display: block;
        width: $width;
        background-color: $bgColor;
        padding: 10px;
        margin: 0;
        position: absolute;
        top: $top;
        left: $left;
        z-index: -1;
    }
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.headings {
    font-family: $fontPrimary;
    font-size: $fontSizeXL;
    line-height: $lineHeightXL;
    font-weight: $fontBold;
    color: $mainColor;
    text-transform: uppercase;
    text-align: center;
}

.texts {
    font-family: $fontSecondary;
    font-size: $fontSizeS;
    font-weight: $fontNormal;
    line-height: $lineHeightM;
    color: $mainColor;
    text-align: center;
}

.button {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-family: $fontPrimary;
    color: $btnTextColorMain;
    background-color: $btnBgMain;
    font-size: $fontSizeS;
    font-weight: $fontBold;
    line-height: $lineHeightXL;
    border: none;
}

.container {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    margin: 0;
    padding: 0;

    .bg-wrapper {
        max-width: $maxW;
        background-image: url(../images/bgmain.png);
        background-repeat: no-repeat;
        background-size: cover;
        margin: $margCenter;
    }

    &__wrapper {
        max-width: $maxW;
        width: 100%;
        margin: $margCenter;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.8);
        position: relative;
    }

    &__heading--large {
        padding: 225px 0 0 0;
        font-size: $fontSizeXXXL;
        line-height: $lineHeightXL;
        font-weight: $fontBold;
        text-transform: uppercase;
        font-family: $fontPrimary;
        color: $mainColor;
        text-align: center;
        margin: $margCenter;

        & span:first-child {
            display: block;
            font-size: $fontSizeM + 2px;
            background-color: $bgColor;
            padding: 0;
            margin: 0 auto 15px auto;
            width: 100px;
        }

        & span:last-child {
            border: 10px solid $mainColor;
        }
    }

    &__text--center {
        margin: 30px auto;
        padding: 0;
        width: 573px;
        font-family: $fontSecondary;
        font-size: $fontSizeM;
        font-weight: $fontNormal;
        line-height: $lineHeightM;
        color: $mainColor;
        text-align: center;
    }

    &__wrapper-empty {
        display: inline-block;
        width: 55%;
        margin: 0;
        padding: 0;
    }

    &__info {
        display: inline-block;
        margin: 154px 10px 0 0;
        width: 42%;
        position: relative;

        .header__subheading {
            position: relative;
            z-index: 1;
            margin: 0;
            padding: 0 0 28px 0;
            text-align: left;
            @include before(53px, 25px, 0);
        }

        .header__text {
            margin: 0 0 57px 0;
            padding: 0;
            width: 541px;
            line-height: $lineHeightL;
            font-family: $fontSecondary;
            font-size: $fontSizeM;
            font-family: $fontSecondary;
            font-weight: 400;
            line-height: $lineHeightL;
            color: $mainColor;
        }
    }

    &__picture {
        position: absolute;
        left: 5%;
        bottom: -12%;
    }

    &__btn {
        width: 165px;
        position: absolute;
        right: 3%;
        bottom: -2.5%;
    }
}

/* Section */

.section__wrapper {
    max-width: $maxW;
    margin: 0 auto;

    .section__heading {
        margin: 249px auto 29px auto;
        padding: 0;
        position: relative;
        z-index: 1;
        @include before(58px, 25px, 39%);
    }

    &>p {
        width: 717px;
        padding: 0;
        margin: 0 auto 101px auto;
        font-family: $fontSecondary;
        font-size: $fontSizeS;
        font-weight: $fontNormal;
        color: $secondaryColor;
        text-align: center;
    }
}

.section__box {
    @include flex(space-around, flex-start);
}

.section__presentation {
    width: 60%;
    @include flex(space-around, flex-start);
    flex-wrap: wrap;
}

.presentation-wrapper {
    flex: 0 1 40%;

    .presentation-wrapper-heading {
        font-size: $fontSizeM + 2px;
        text-align: left;
        margin: 0;
        padding: 0;
    }

    &:first-of-type .presentation-wrapper-heading::before {
        content: '';
        display: block;
        padding: 1em;
        background-image: url(../icons/infinity.png);
        background-repeat: no-repeat;
    }

    &:nth-of-type(2) .presentation-wrapper-heading::before {
        content: '';
        display: block;
        padding: 1em;
        background-image: url(../icons/twolines.png);
        background-repeat: no-repeat;
    }

    &:nth-of-type(3) .presentation-wrapper-heading::before {
        content: '';
        display: block;
        padding: 1em;
        background-image: url(../icons/trolley.png);
        background-repeat: no-repeat;
    }

    &:last-of-type .presentation-wrapper-heading::before {
        content: '';
        display: block;
        padding: 1em;
        background-image: url(../icons/smth.png);
        background-repeat: no-repeat;
    }

    .presentation-wrapper-text {
        padding: 1px;
        line-height: $lineHeightL;
        text-align: left;
        margin-bottom: 0;
        margin-top: 0;

        &:first-of-type {
            margin-top: 25px;
        }

        &:last-of-type {
            margin-bottom: 10px;
        }
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.05);
        border: 3px solid rgba(0, 0, 0, 0.1);
    }

}

/* Section Portfolio*/

.section-portfolio-wrapper {
    max-width: $maxW;
    margin: $margCenter;

    .section-portfolio__heading {
        margin-top: 150px;
        margin-bottom: 30px;
        padding: 0;
        position: relative;
        @include before(50px, 25px, 39.5%);
    }

    .section-portfolio__text {
        width: 765px;
        margin: $margCenter;
        padding: 0;
    }
}

.section-portfolio-box {
    @include flex(space-around, stretch);
}

.section-portfolio-list-wrapper {
    margin-top: 101px;
    width: 20%;

    .section-portfolio-list__heading {
        margin: 0;
        padding: 0;
        width: 170px;
        text-align: left;
    }

    .section-portfolio__list {
        list-style-type: none;

        .section-portfolio-item {
            padding: 1px;
            text-align: left;

            & a {
                padding: 0;
                margin-left: 10px;
                font-family: $fontPrimary;
                font-size: $fontSizeS;
                line-height: $lineHeightXL;
                font-weight: $fontBold;
                color: $mainColor;
                text-transform: uppercase;
                text-align: left;
                text-decoration: none;

                &:hover {
                    background-color: $bgColor;
                    color: $linksColor;
                }
            }


            &:first-child a:first-child {
                background-color: $bgColor;
                color: $linksColor;
                margin-left: 0;
                padding: 0 1px;
            }

        }

    }
}



.section-portfolio-images-box {
    width: 66%;
    margin-top: 101px;
    @include flex(space-between, stretch);

    .section-portfolio__col img {
        margin-right: 30px;
        margin-bottom: 30px;
    }

    &:last-child img {
        margin-right: 0;
    }

}

/* Footer */

.footer {
    background-color: $bgColor;
}

.footer-wrapper {
    max-width: $maxW;
    margin: $margCenter;
    display: flex;
    position: relative;

    .footer-contact-box {
        flex: 0 1 50%;

        .footer-contact-box__heading {
            padding: 50px 0 29px 84px;
            color: $clrwhite;
            width: 505px;
            margin: 0;
            text-align: left;
        }

        .footer-contact-box__button {
            background-color: $btnBgWhite;
            color: $btnTextColorSecond;
            padding: 10px 15px;
            margin: 0 0 131px 84px;

        }
    }

    .footer-sign-box {
        flex: 0 1 50%;
        padding: 1px;

        .footer-feedback {
            background-color: $clrwhite;
            margin: 50px 0 29px 0;

            .footer-feedback__heading {
                margin: 0;
                padding: 20px 0 18px 25px;
                width: 350px;
                font-size: $fontSizeL;
                line-height: $lineHeightL;
                text-align: left;
            }

            .footer-feedback__text {
                padding: 0;
                margin: 0 0 29px 26px;
                width: 470px;
                font-size: $fontSizeM;
                line-height: $lineHeightM;
                text-align: left;
            }

            .footer-feedback-form {
                width: 100%;
                padding: 0 0 18px 20px;
                font-size: 0;

                .footer-feedback-form__email {
                    width: 65%;
                    padding: 15px;
                    border: 1px solid grey;

                    &::placeholder {
                        margin: 0;
                        padding: 0;
                        font-family: $fontPrimary;
                        font-size: $fontSizeS - 2px;
                        font-weight: $fontBold;
                        line-height: $lineHeightXL;
                        color: $mainColor;
                        text-transform: uppercase;
                        text-align: left;
                    }
                }

                .footer-feedback-form__button {
                    width: 135px;
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }
}

.footer-rights {
    position: absolute;
    right: 0;
    bottom: -135px;
    padding: 0;
    width: 30%;

    .footer-rigths__text {
        text-align: left;
        text-transform: uppercase;
    }

    .footer-social-links a {
        margin-right: 15px;
    }

    .footer-social-links a:first-child {
        margin-right: 12px;
    }
}

.navigation {
    background-color: $clrwhite;

    .navigation-wrapper {
        @extend .footer-wrapper;

        .navigation__list {
            display: inline-block;
            width: 60%;

            .navigation__item {
                display: inline-block;
                list-style-type: square;
                color: $secondaryColor;
                margin: 50px 10px;

                &:not(:first-child)::before {
                    content: "-";
                    margin-right: 15px;

                }

                a {
                    margin: 0;
                    padding: 0;
                    color: $navColor;
                    line-height: $lineHeightXL;
                    text-decoration: none;
                    text-transform: uppercase;

                    &:hover {
                        padding: 10px;
                        color: $clrwhite;
                        background-color: $bgColor;
                        border: 1px solid $bgColor;
                        border-radius: 1em;
                    }
                }
            }
        }
    }
}



/* About */

.header-about {
    width: 100%;
    background-image: url(../images/bg_about.png);
    background-repeat: no-repeat;
    background-size: 100%;

    .header-box {
        max-width: $maxW;
        margin: $margCenter;
        position: relative;
    }

    .header__heading-about {
        font-size: $fontSizeXXL;
        padding-top: 267px;
        margin: 0;
    }

    .header__text-about {
        padding-top: 25px;
        padding-bottom: 165px;
        margin: 0;
        font-family: $fontPrimary;
        font-weight: $fontBold;
        text-transform: uppercase;
    }

    .author {
        padding: 0;
        margin: 0;
        color: $mainColor;
        font-family: $fontPrimary;
        font-size: $fontSizeM + 2px;
        font-weight: $fontBold;
        text-transform: uppercase;
        position: absolute;
        top: 43px;
        left: 80px;
    }

}

/* Section About&Services */

.about-us {
    width: 100%;

    &-wrapper {
        max-width: $maxW;
        margin: $margCenter;
        width: 100%;
        @include flex(space-around, stretch);
        padding-top: 150px;
    }

    &__info-heading,
    &__services-heading {
        padding-bottom: 29px;
        margin: 0;
        text-align: left;
    }

    &__info-text,
    &__services-text {
        margin: 0;
        padding-bottom: 30px;
        text-align: left;
        text-transform: uppercase;
        color: $mainColor;
        font-weight: 800;
    }

    &__info-description,
    &__services-description {
        margin: 0;
        padding: 0;
        text-align: left;
        width: 552px;
        line-height: $lineHeightL;
    }
}

/* Section Benefits */

.benefits {
    width: 100%;
    margin: 0;
    padding: 0;

    &-wrapper {
        width: 100%;
        max-width: $maxW;
        margin: $margCenter;
        padding: 0;
    }

    &__heading {
        padding: 0;
        margin-top: 163px;
        margin-bottom: 30px;
        position: relative;
        @include before(55px, 25px, 40%);
    }

    &__text {
        width: 716px;
        margin: $margCenter;
    }

    .offers-block {
        padding: 0;
        margin-top: 163px;
        @include flex(space-around, stretch);
        flex-flow: wrap;

        .offers-block-box {
            flex: 0 1 33.333%;

            &__heading {
                margin: 0;
                padding: 0;
                text-align: $textAlignDefault;
                font-size: $fontSizeM + 2px;
            }

            &__text {
                width: 357px;
                padding: 0;
                margin-top: 33px;
                margin-bottom: 65px;
                text-align: $textAlignDefault;
                line-height: $lineHeightL;
            }
        }

        .offers-block-box:first-of-type h3::before {
            content: '';
            background-image: url(../icons/mobile.png);
            background-repeat: no-repeat;
            background-position: center center;
            padding: 10px 20px;
            margin-right: 10px;
            background-color: $bgColor;
        }

        .offers-block-box:nth-of-type(2) h3::before {
            content: '';
            background-image: url(../icons/infinitywhite.png);
            background-repeat: no-repeat;
            background-position: center center;
            padding: 10px 20px;
            margin-right: 10px;
            background-color: $bgColor;
        }

        .offers-block-box:nth-of-type(3) h3::before {
            content: '';
            background-image: url(../icons/wp.png);
            background-repeat: no-repeat;
            background-position: center center;
            padding: 10px 20px;
            margin-right: 10px;
            background-color: $bgColor;
        }

        .offers-block-box:nth-of-type(4) h3::before {
            content: '';
            background-image: url(../icons/trolleywhite.png);
            background-repeat: no-repeat;
            background-position: center center;
            padding: 10px 20px;
            margin-right: 10px;
            background-color: $bgColor;
        }

        .offers-block-box:nth-of-type(5) h3::before {
            content: '';
            background-image: url(../icons/smth.png);
            background-repeat: no-repeat;
            background-position: center center;
            padding: 10px 20px;
            margin-right: 10px;
            background-color: $bgColor;
        }

        .offers-block-box:last-of-type h3::before {
            content: '';
            background-image: url(../icons/supwhite.png);
            background-repeat: no-repeat;
            background-position: center center;
            padding: 10px 20px;
            margin-right: 10px;
            background-color: $bgColor;
        }
    }
}

/* Section Team */
.team {
    width: 100%;

    .team-wrapper {
        width: 100%;
        max-width: $maxW;
        margin: $margCenter;
    }

    &__heading {
        padding: 0;
        margin-top: 150px;
        margin-bottom: 20px;
        position: relative;
        @include before(40px, 25px, 39%)
    }

    &__text {
        padding: 0;
        margin: 0 auto 100px auto;
        width: 700px;
    }

    &-presentation-box {
        @include flex(space-around, stretch);
        flex-flow: wrap;

        &__img {
            display: block;
            margin-bottom: 30px;
        }
    }

    &-info {
        width: 95%;
        padding: 0;
        margin: 30px auto 0 auto;
        background-color: lighten($color: $mainColor, $amount: 50);

        &__text {
            font-size: $fontSizeM + 2px;
            line-height: $lineHeightXL;
            display: inline-block;
            padding: 60px 190px 60px 30px;
            font-style: italic;
        }

        &__btn {
            width: 165px;
            
        }
    }
}

/* Section */

.recommendations {
    width: 100%;
    margin-bottom: 150px;

    &-wrapper {
        width: 100%;
        margin: 0;
        padding: 0;
        margin: $margCenter;
        max-width: $maxW;
        @include flex(space-between, stretch);

    }
}

.recommendations-box {
    margin-top: 150px;
    padding: 0;
    width: 50%;

    .recommendations__img {
        display: block;
        margin: $margCenter;
    }

    .recommendations__text {
        width: 550px;
        padding: 0;
        margin: 30px auto;
    }

    .recommendations__btn {
        display: block;
        width: 100px;
        padding: 0;
        margin: $margCenter;
    }

    .box-controls {
        width: 14%;
        margin: 40px auto 0 auto;
        @include flex(space-between, stretch);

        .controls {
            width: 13px;
            padding: 1px;
            display: inline-block;
            background-color: $mainColor;

            &:first-child {
                background-color: $bgColor;
            }
        }
    }
}

.recommedations-partners {
    width: 50%;
    margin-top: 150px;
    padding: 0;
    display: block;
    @include flex(space-around, baseline);
    flex-flow: wrap;

    &__box {
        width: 165px;
        height: 100px;
        border: 1px solid rgba(0, 0, 0, 0.15);
    }
    
    &__logo {
        display: block;
        margin: 10px auto;
    }

    &__box:nth-child(4) &__logo {
        margin-top: 25px;
    }
}

/* Blog */

.header-blog {
    width: 100%;
    background-image: url(../images/bg_about.png);
    background-repeat: no-repeat;
    background-size: 100%;
    filter: grayscale(100%);

    .header-box {
        max-width: $maxW;
        margin: $margCenter;
        position: relative;
    }

    .header__heading-blog {
        font-size: $fontSizeXXL;
        padding-top: 267px;
        margin: 0;
    }

    .header__text-blog {
        padding-top: 25px;
        padding-bottom: 165px;
        margin: 0;
        font-family: $fontPrimary;
        font-weight: $fontBold;
        text-transform: uppercase;
    }

    .author {
        padding: 0;
        margin: 0;
        color: $mainColor;
        font-family: $fontPrimary;
        font-size: $fontSizeM + 2px;
        font-weight: $fontBold;
        text-transform: uppercase;
        position: absolute;
        top: 43px;
        left: 80px;
    }

}

/* Article Sections */
.blog main {
    padding: 1px;
    margin: 0;
    display: flex;
    max-width: $maxW;
    margin: $margCenter;
}
.blog-article {
    width: 70%;
    border: 1px solid black;
}

.blog__photo {
    display: block;
    margin: $margCenter;
}

.blog-box__date {
    margin: 30px 0 20px 80px;

    time {
        padding: 10px 20px;
        margin-right: 15px;
        width: 128px;
        background-color: $bgColor;
        color: $clrwhite;
        font-family: $fontPrimary;
        font-size: $fontSizeS;
        font-weight: $fontBold;
        line-height: $lineHeightXL;
        text-transform: uppercase;
    }

    .comments {
        display: inline-block;
        margin-left: 10px;
        font-family: $fontPrimary;
        font-size: $fontSizeS;
        font-weight: $fontNormal;
        line-height: $lineHeightXL;
        color: #cccccc;

        &::before {
            content: '';
            background-image: url(../icons/comments.png);
            background-repeat: no-repeat;
            background-position: left center;
            padding: 10px;

        }
    }

    .likes {
        @extend .comments;

        &::before {
            content: '';
            background-image: url(../icons/likes.png);
            background-repeat: no-repeat;
            background-position: left center;
            padding: 10px;
        }
    }
}

.blog-box__info {
    margin-top: 30px;
    padding: 0;

    .blog-box__heading {
        font-size: $fontSizeM + 2px;
        margin-left: 80px;
        margin-bottom: 20px;
        padding: 0;
        text-align: $textAlignDefault;
    }

    .blog-box__text {
        width: 763px;
        padding: 0;
        margin-left: 80px;
        margin-bottom: 30px;
        text-align: $textAlignDefault;
    }

    .more-info__btn {
        padding: 0;
        margin-left: 80px;

        &::after {
            content: "\2192";
            font-size: $fontSizeM;
            font-weight: $fontBold;
        }

    }
}
