*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
}

.headings {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  color: #60606e;
  text-transform: uppercase;
  text-align: center;
}

.texts {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #60606e;
  text-align: center;
}

.button {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background-color: #7beec7;
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  border: none;
}

.container {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  margin: 0;
  padding: 0;
}
.header .bg-wrapper {
  max-width: 1300px;
  background-image: url(../images/bgmain.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
.header__wrapper {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
}
.header__heading--large {
  padding: 225px 0 0 0;
  font-size: 48px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #60606e;
  text-align: center;
  margin: 0 auto;
}
.header__heading--large span:first-child {
  display: block;
  font-size: 18px;
  background-color: #7beec7;
  padding: 0;
  margin: 0 auto 15px auto;
  width: 100px;
}
.header__heading--large span:last-child {
  border: 10px solid #60606e;
}
.header__text--center {
  margin: 30px auto;
  padding: 0;
  width: 573px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #60606e;
  text-align: center;
}
.header__wrapper-empty {
  display: inline-block;
  width: 55%;
  margin: 0;
  padding: 0;
}
.header__info {
  display: inline-block;
  margin: 154px 10px 0 0;
  width: 42%;
  position: relative;
}
.header__info .header__subheading {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0 0 28px 0;
  text-align: left;
}
.header__info .header__subheading::before {
  content: '';
  display: block;
  width: 53px;
  background-color: #7beec7;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 25px;
  left: 0;
  z-index: -1;
}
.header__info .header__text {
  margin: 0 0 57px 0;
  padding: 0;
  width: 541px;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: #60606e;
}
.header__picture {
  position: absolute;
  left: 5%;
  bottom: -12%;
}
.header__btn {
  width: 165px;
  position: absolute;
  right: 3%;
  bottom: -2.5%;
}

/* Section */
.section__wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.section__wrapper .section__heading {
  margin: 249px auto 29px auto;
  padding: 0;
  position: relative;
  z-index: 1;
}
.section__wrapper .section__heading::before {
  content: '';
  display: block;
  width: 58px;
  background-color: #7beec7;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 25px;
  left: 39%;
  z-index: -1;
}
.section__wrapper > p {
  width: 717px;
  padding: 0;
  margin: 0 auto 101px auto;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #999999;
  text-align: center;
}

.section__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section__presentation {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.presentation-wrapper {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}
.presentation-wrapper .presentation-wrapper-heading {
  font-size: 18px;
  text-align: left;
  margin: 0;
  padding: 0;
}
.presentation-wrapper:first-of-type .presentation-wrapper-heading::before {
  content: '';
  display: block;
  padding: 1em;
  background-image: url(../icons/infinity.png);
  background-repeat: no-repeat;
}
.presentation-wrapper:nth-of-type(2) .presentation-wrapper-heading::before {
  content: '';
  display: block;
  padding: 1em;
  background-image: url(../icons/twolines.png);
  background-repeat: no-repeat;
}
.presentation-wrapper:nth-of-type(3) .presentation-wrapper-heading::before {
  content: '';
  display: block;
  padding: 1em;
  background-image: url(../icons/trolley.png);
  background-repeat: no-repeat;
}
.presentation-wrapper:last-of-type .presentation-wrapper-heading::before {
  content: '';
  display: block;
  padding: 1em;
  background-image: url(../icons/smth.png);
  background-repeat: no-repeat;
}
.presentation-wrapper .presentation-wrapper-text {
  padding: 1px;
  line-height: 30px;
  text-align: left;
  margin-bottom: 0;
  margin-top: 0;
}
.presentation-wrapper .presentation-wrapper-text:first-of-type {
  margin-top: 25px;
}
.presentation-wrapper .presentation-wrapper-text:last-of-type {
  margin-bottom: 10px;
}
.presentation-wrapper:hover {
  background-color: rgba(0, 0, 0, 0.05);
  border: 3px solid rgba(0, 0, 0, 0.1);
}

/* Section Portfolio*/
.section-portfolio-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.section-portfolio-wrapper .section-portfolio__heading {
  margin-top: 150px;
  margin-bottom: 30px;
  padding: 0;
  position: relative;
}
.section-portfolio-wrapper .section-portfolio__heading::before {
  content: '';
  display: block;
  width: 50px;
  background-color: #7beec7;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 25px;
  left: 39.5%;
  z-index: -1;
}
.section-portfolio-wrapper .section-portfolio__text {
  width: 765px;
  margin: 0 auto;
  padding: 0;
}

.section-portfolio-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.section-portfolio-list-wrapper {
  margin-top: 101px;
  width: 20%;
}
.section-portfolio-list-wrapper .section-portfolio-list__heading {
  margin: 0;
  padding: 0;
  width: 170px;
  text-align: left;
}
.section-portfolio-list-wrapper .section-portfolio__list {
  list-style-type: none;
}
.section-portfolio-list-wrapper .section-portfolio__list .section-portfolio-item {
  padding: 1px;
  text-align: left;
}
.section-portfolio-list-wrapper .section-portfolio__list .section-portfolio-item a {
  padding: 0;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  color: #60606e;
  text-transform: uppercase;
  text-align: left;
  text-decoration: none;
}
.section-portfolio-list-wrapper .section-portfolio__list .section-portfolio-item a:hover {
  background-color: #7beec7;
  color: #fff;
}
.section-portfolio-list-wrapper .section-portfolio__list .section-portfolio-item:first-child a:first-child {
  background-color: #7beec7;
  color: #fff;
  margin-left: 0;
  padding: 0 1px;
}

.section-portfolio-images-box {
  width: 66%;
  margin-top: 101px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.section-portfolio-images-box .section-portfolio__col img {
  margin-right: 30px;
  margin-bottom: 30px;
}
.section-portfolio-images-box:last-child img {
  margin-right: 0;
}

/* Footer */
.footer {
  background-color: #7beec7;
}

.footer-wrapper, .navigation .navigation-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.footer-wrapper .footer-contact-box, .navigation .navigation-wrapper .footer-contact-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}
.footer-wrapper .footer-contact-box .footer-contact-box__heading, .navigation .navigation-wrapper .footer-contact-box .footer-contact-box__heading {
  padding: 50px 0 29px 84px;
  color: #fff;
  width: 505px;
  margin: 0;
  text-align: left;
}
.footer-wrapper .footer-contact-box .footer-contact-box__button, .navigation .navigation-wrapper .footer-contact-box .footer-contact-box__button {
  background-color: #fff;
  color: #7beec7;
  padding: 10px 15px;
  margin: 0 0 131px 84px;
}
.footer-wrapper .footer-sign-box, .navigation .navigation-wrapper .footer-sign-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 1px;
}
.footer-wrapper .footer-sign-box .footer-feedback, .navigation .navigation-wrapper .footer-sign-box .footer-feedback {
  background-color: #fff;
  margin: 50px 0 29px 0;
}
.footer-wrapper .footer-sign-box .footer-feedback .footer-feedback__heading, .navigation .navigation-wrapper .footer-sign-box .footer-feedback .footer-feedback__heading {
  margin: 0;
  padding: 20px 0 18px 25px;
  width: 350px;
  font-size: 24px;
  line-height: 30px;
  text-align: left;
}
.footer-wrapper .footer-sign-box .footer-feedback .footer-feedback__text, .navigation .navigation-wrapper .footer-sign-box .footer-feedback .footer-feedback__text {
  padding: 0;
  margin: 0 0 29px 26px;
  width: 470px;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}
.footer-wrapper .footer-sign-box .footer-feedback .footer-feedback-form, .navigation .navigation-wrapper .footer-sign-box .footer-feedback .footer-feedback-form {
  width: 100%;
  padding: 0 0 18px 20px;
  font-size: 0;
}
.footer-wrapper .footer-sign-box .footer-feedback .footer-feedback-form .footer-feedback-form__email, .navigation .navigation-wrapper .footer-sign-box .footer-feedback .footer-feedback-form .footer-feedback-form__email {
  width: 65%;
  padding: 15px;
  border: 1px solid grey;
}
.footer-wrapper .footer-sign-box .footer-feedback .footer-feedback-form .footer-feedback-form__email::-webkit-input-placeholder, .navigation .navigation-wrapper .footer-sign-box .footer-feedback .footer-feedback-form .footer-feedback-form__email::-webkit-input-placeholder {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 48px;
  color: #60606e;
  text-transform: uppercase;
  text-align: left;
}
.footer-wrapper .footer-sign-box .footer-feedback .footer-feedback-form .footer-feedback-form__email:-ms-input-placeholder, .navigation .navigation-wrapper .footer-sign-box .footer-feedback .footer-feedback-form .footer-feedback-form__email:-ms-input-placeholder {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 48px;
  color: #60606e;
  text-transform: uppercase;
  text-align: left;
}
.footer-wrapper .footer-sign-box .footer-feedback .footer-feedback-form .footer-feedback-form__email::-ms-input-placeholder, .navigation .navigation-wrapper .footer-sign-box .footer-feedback .footer-feedback-form .footer-feedback-form__email::-ms-input-placeholder {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 48px;
  color: #60606e;
  text-transform: uppercase;
  text-align: left;
}
.footer-wrapper .footer-sign-box .footer-feedback .footer-feedback-form .footer-feedback-form__email::placeholder, .navigation .navigation-wrapper .footer-sign-box .footer-feedback .footer-feedback-form .footer-feedback-form__email::placeholder {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 700;
  line-height: 48px;
  color: #60606e;
  text-transform: uppercase;
  text-align: left;
}
.footer-wrapper .footer-sign-box .footer-feedback .footer-feedback-form .footer-feedback-form__button, .navigation .navigation-wrapper .footer-sign-box .footer-feedback .footer-feedback-form .footer-feedback-form__button {
  width: 135px;
  margin: 0;
  padding: 0;
}

.footer-rights {
  position: absolute;
  right: 0;
  bottom: -135px;
  padding: 0;
  width: 30%;
}
.footer-rights .footer-rigths__text {
  text-align: left;
  text-transform: uppercase;
}
.footer-rights .footer-social-links a {
  margin-right: 15px;
}
.footer-rights .footer-social-links a:first-child {
  margin-right: 12px;
}

.navigation {
  background-color: #fff;
}
.navigation .navigation-wrapper .navigation__list {
  display: inline-block;
  width: 60%;
}
.navigation .navigation-wrapper .navigation__list .navigation__item {
  display: inline-block;
  list-style-type: square;
  color: #999999;
  margin: 50px 10px;
}
.navigation .navigation-wrapper .navigation__list .navigation__item:not(:first-child)::before {
  content: "-";
  margin-right: 15px;
}
.navigation .navigation-wrapper .navigation__list .navigation__item a {
  margin: 0;
  padding: 0;
  color: #60606e;
  line-height: 48px;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation .navigation-wrapper .navigation__list .navigation__item a:hover {
  padding: 10px;
  color: #fff;
  background-color: #7beec7;
  border: 1px solid #7beec7;
  border-radius: 1em;
}

/* About */
.header-about {
  width: 100%;
  background-image: url(../images/bg_about.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.header-about .header-box {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}
.header-about .header__heading-about {
  font-size: 36px;
  padding-top: 267px;
  margin: 0;
}
.header-about .header__text-about {
  padding-top: 25px;
  padding-bottom: 165px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.header-about .author {
  padding: 0;
  margin: 0;
  color: #60606e;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 43px;
  left: 80px;
}

/* Section About&Services */
.about-us {
  width: 100%;
}
.about-us-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding-top: 150px;
}
.about-us__info-heading, .about-us__services-heading {
  padding-bottom: 29px;
  margin: 0;
  text-align: left;
}
.about-us__info-text, .about-us__services-text {
  margin: 0;
  padding-bottom: 30px;
  text-align: left;
  text-transform: uppercase;
  color: #60606e;
  font-weight: 800;
}
.about-us__info-description, .about-us__services-description {
  margin: 0;
  padding: 0;
  text-align: left;
  width: 552px;
  line-height: 30px;
}

/* Section Benefits */
.benefits {
  width: 100%;
  margin: 0;
  padding: 0;
}
.benefits-wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0;
}
.benefits__heading {
  padding: 0;
  margin-top: 163px;
  margin-bottom: 30px;
  position: relative;
}
.benefits__heading::before {
  content: '';
  display: block;
  width: 55px;
  background-color: #7beec7;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 25px;
  left: 40%;
  z-index: -1;
}
.benefits__text {
  width: 716px;
  margin: 0 auto;
}
.benefits .offers-block {
  padding: 0;
  margin-top: 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}
.benefits .offers-block .offers-block-box {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}
.benefits .offers-block .offers-block-box__heading {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 18px;
}
.benefits .offers-block .offers-block-box__text {
  width: 357px;
  padding: 0;
  margin-top: 33px;
  margin-bottom: 65px;
  text-align: left;
  line-height: 30px;
}
.benefits .offers-block .offers-block-box:first-of-type h3::before {
  content: '';
  background-image: url(../icons/mobile.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #7beec7;
}
.benefits .offers-block .offers-block-box:nth-of-type(2) h3::before {
  content: '';
  background-image: url(../icons/infinitywhite.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #7beec7;
}
.benefits .offers-block .offers-block-box:nth-of-type(3) h3::before {
  content: '';
  background-image: url(../icons/wp.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #7beec7;
}
.benefits .offers-block .offers-block-box:nth-of-type(4) h3::before {
  content: '';
  background-image: url(../icons/trolleywhite.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #7beec7;
}
.benefits .offers-block .offers-block-box:nth-of-type(5) h3::before {
  content: '';
  background-image: url(../icons/smth.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #7beec7;
}
.benefits .offers-block .offers-block-box:last-of-type h3::before {
  content: '';
  background-image: url(../icons/supwhite.png);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #7beec7;
}

/* Section Team */
.team {
  width: 100%;
}
.team .team-wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.team__heading {
  padding: 0;
  margin-top: 150px;
  margin-bottom: 20px;
  position: relative;
}
.team__heading::before {
  content: '';
  display: block;
  width: 40px;
  background-color: #7beec7;
  padding: 10px;
  margin: 0;
  position: absolute;
  top: 25px;
  left: 39%;
  z-index: -1;
}
.team__text {
  padding: 0;
  margin: 0 auto 100px auto;
  width: 700px;
}
.team-presentation-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}
.team-presentation-box__img {
  display: block;
  margin-bottom: 30px;
}
.team-info {
  width: 95%;
  padding: 0;
  margin: 30px auto 0 auto;
  background-color: #e5e5e8;
}
.team-info__text {
  font-size: 18px;
  line-height: 48px;
  display: inline-block;
  padding: 60px 190px 60px 30px;
  font-style: italic;
}
.team-info__btn {
  width: 165px;
}

/* Section */
.recommendations {
  width: 100%;
  margin-bottom: 150px;
}
.recommendations-wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  margin: 0 auto;
  max-width: 1300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.recommendations-box {
  margin-top: 150px;
  padding: 0;
  width: 50%;
}
.recommendations-box .recommendations__img {
  display: block;
  margin: 0 auto;
}
.recommendations-box .recommendations__text {
  width: 550px;
  padding: 0;
  margin: 30px auto;
}
.recommendations-box .recommendations__btn {
  display: block;
  width: 100px;
  padding: 0;
  margin: 0 auto;
}
.recommendations-box .box-controls {
  width: 14%;
  margin: 40px auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.recommendations-box .box-controls .controls {
  width: 13px;
  padding: 1px;
  display: inline-block;
  background-color: #60606e;
}
.recommendations-box .box-controls .controls:first-child {
  background-color: #7beec7;
}

.recommedations-partners {
  width: 50%;
  margin-top: 150px;
  padding: 0;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}
.recommedations-partners__box {
  width: 165px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
.recommedations-partners__logo {
  display: block;
  margin: 10px auto;
}
.recommedations-partners__box:nth-child(4) .recommedations-partners__logo {
  margin-top: 25px;
}

/* Blog */
.header-blog {
  width: 100%;
  background-image: url(../images/bg_about.png);
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}
.header-blog .header-box {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}
.header-blog .header__heading-blog {
  font-size: 36px;
  padding-top: 267px;
  margin: 0;
}
.header-blog .header__text-blog {
  padding-top: 25px;
  padding-bottom: 165px;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.header-blog .author {
  padding: 0;
  margin: 0;
  color: #60606e;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  top: 43px;
  left: 80px;
}

/* Article Sections */
.blog main {
  padding: 1px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
}

.blog-article {
  width: 70%;
  border: 1px solid black;
}

.blog__photo {
  display: block;
  margin: 0 auto;
}

.blog-box__date {
  margin: 30px 0 20px 80px;
}
.blog-box__date time {
  padding: 10px 20px;
  margin-right: 15px;
  width: 128px;
  background-color: #7beec7;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}
.blog-box__date .comments, .blog-box__date .likes {
  display: inline-block;
  margin-left: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  color: #cccccc;
}
.blog-box__date .comments::before, .blog-box__date .likes::before {
  content: '';
  background-image: url(../icons/comments.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 10px;
}
.blog-box__date .likes::before {
  content: '';
  background-image: url(../icons/likes.png);
  background-repeat: no-repeat;
  background-position: left center;
  padding: 10px;
}

.blog-box__info {
  margin-top: 30px;
  padding: 0;
}
.blog-box__info .blog-box__heading {
  font-size: 18px;
  margin-left: 80px;
  margin-bottom: 20px;
  padding: 0;
  text-align: left;
}
.blog-box__info .blog-box__text {
  width: 763px;
  padding: 0;
  margin-left: 80px;
  margin-bottom: 30px;
  text-align: left;
}
.blog-box__info .more-info__btn {
  padding: 0;
  margin-left: 80px;
}
.blog-box__info .more-info__btn::after {
  content: "\2192";
  font-size: 16px;
  font-weight: 700;
}
